.search {
  position: relative;
}

.results {
  position: absolute;
  top: 100%;
  z-index: 2;
  width: 100%;
  min-height: 70px;
  max-height: 400px;
  overflow: auto;
  
  .loader {
    position: unset;
  }
}