.card {
  filter: blur(0);
  transition: filter 200ms ease-in-out;

  &.blur {
    filter: blur(5px);
  }

  .sort {
    display: flex;
    align-items: center;
    column-gap: 5px;
    margin-top: 10px;
  }

  .no-images {
    margin-top: 30px;
  }

  .items {
    margin-top: 10px;
    
    app-storage-card[draggable=true] {
      cursor: grab;
    }
  }
}